body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6566a0;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
    text-align: center;
}

label {
    font-size: 18px;
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#zodiac-result {
    margin-top: 20px;
}

.hidden {
    display: none;
}
